@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/awesome/fontawesome-webfont.eot');
  src: url('../fonts/awesome/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/awesome/fontawesome-webfont.woff2') format('woff2'), url('../awesome/fonts/fontawesome-webfont.woff') format('woff'), url('../awesome/fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/awesome/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'iconvtc';
  src: url('../fonts/iconvtc/vtc.eot');
  src: url('../fonts/iconvtc/vtc.eot') format('embedded-opentype'), url('../fonts/iconvtc/vtc.woff') format('woff'), url('../fonts/iconvtc/vtc.woff') format('woff'), url('../fonts/iconvtc/vtc.ttf') format('truetype'), url('../fonts/iconvtc/vtc.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'miso';
  src: url('../fonts/miso/miso-webfont.eot');
  src: url('../fonts/miso/miso-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso/miso-webfont.woff2') format('woff2'), url('../fonts/miso/miso-webfont.woff') format('woff'), url('../fonts/miso/miso-webfont.ttf') format('truetype'), url('../fonts/miso/miso-webfont.svg#miso') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misoregular';
  src: url('../fonts/miso-regular/miso-regular-webfont.eot');
  src: url('../fonts/miso-regular/miso-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-regular/miso-regular-webfont.woff2') format('woff2'), url('../fonts/miso-regular/miso-regular-webfont.woff') format('woff'), url('../fonts/miso-regular/miso-regular-webfont.ttf') format('truetype'), url('../fonts/miso-regular/miso-regular-webfont.svg#misoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misobold';
  src: url('../fonts/miso-bold/miso-bold-webfont.eot');
  src: url('../fonts/miso-bold/miso-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-bold/miso-bold-webfont.woff2') format('woff2'), url('../fonts/miso-bold/miso-bold-webfont.woff') format('woff'), url('../fonts/miso-bold/miso-bold-webfont.ttf') format('truetype'), url('../fonts/miso-bold/miso-bold-webfont.svg#misobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misolight';
  src: url('../fonts/miso-light/miso-light-webfont.eot');
  src: url('../fonts/miso-light/miso-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-light/miso-light-webfont.woff2') format('woff2'), url('../fonts/miso-light/miso-light-webfont.woff') format('woff'), url('../fonts/miso-light/miso-light-webfont.ttf') format('truetype'), url('../fonts/miso-light/miso-light-webfont.svg#misolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hand';
  src: url('../fonts/handsean/handsean-webfont.eot');
  src: url('../fonts/handsean/handsean-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/handsean/handsean-webfont.woff2') format('woff2'), url('../fonts/handsean/handsean-webfont.woff') format('woff'), url('../fonts/handsean/handsean-webfont.ttf') format('truetype'), url('../fonts/handsean/handsean-webfont.svg#handsean') format('svg');
  font-weight: normal;
  font-style: normal;
}

.txt-blue {
  color: #2c76b1;
  font-size: 1.2em;
}

ul.list-subcat {
  list-style: none;
  padding: 0;
}

.plus {
  color: #fff;
}

.return {
  padding: 20px 35px;
}

.header-card {
  font-family: "MisoBold", Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  line-height: 23px;
  color: #0072ce;
  background: #0072ce;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  padding: 0;
}

.header-card a {
  color: #fff;
  font-family: "misobold";
  font-weight: 400;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.txt-red {
  color: #c3292e;
}

/********************************************************/

/*  estilos header */

/********************************************************/

.title-header {
  font-family: 'misobold';
}

.txt-header {
  padding: 30px 18px 30px;
  line-height: 20px;
  font-size: 13px;
}

.form-servicios {
  padding: 10px 30px;
}

.form-servicios span {
  background: #2c76b1;
}

.form-servicios .icon-search {
  color: #fff;
}

/********************************************************/

/*  estilos contenido */

/********************************************************/
div#accordionPrueba {
    padding: 14px 25px;
}
.cont-interna {
  background-image: url(../img/logo-fondo-movil.png);
  width: 100%;
  background-size: cover;
  margin-top: 43px;
  margin: 0 auto;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-position-y: 0;
}

h4.txt-red.title-header.text-center {
  padding-top: 68px;
}

.cont-item {
  padding: 15px 35px 0;
}

a:focus, a:active, a:hover {
  text-decoration: none;
}

.divisor {
  width: 25%;
  background: #b3b3b3;
  height: 1px;
  margin: 20px auto 10px;
}

.sub-cat {
  border-bottom: 2px solid #b3b3b3;
  padding: 10px;
}

.cont-img {
  width: 17%;
  margin: 0 auto;
  position: absolute;
  left: 40.5%;
  /* bottom: -18%; */
  bottom: -33px;
}

.more-cat {
  font-size: 15px;
}

/*Desktop and md-lg Desktop 125+ 110+ 100+>25*/

@media screen and (min-width: 992px) {
  li.sub-cat.text-center {
    font-size: 15px;
  }
  .cont-item span {
    padding: 30px 20px 10px;
    line-height: 24px;
    font-size: 15px;
  }
  .txt-header {
    padding: 30px 20px 10px;
    line-height: 24px;
    font-size: 16px;
  }
  .header-card a {
    justify-content: center;
  }
  .img-garantia {
    width: 25%;
    padding-bottom: 40px;
  }
  .collapse {
    display: block !important;
  }
  .cont-item {
    padding: 15px 161px 0;
  }
  .itemAccord {
    padding: 10px 50px 10px;
  }
  .header-card a {
    font-size: 26px;
    padding: 16px;
  }
  .sub-cat {
    border-bottom: none;
    /* padding: 0 30px; */
    padding-left: 30px;
    padding-right: 30px;
  }
  span.txt-blue.title-header.title-desktop {
    font-size: 21px;
  }
  ul {
    border: solid #b3b3b3 2px;
    margin-top: 1px;
    border-radius: 5px;
  }
  h4.txt-red.title-header.text-center {
    padding-top: 205px;
    font-size: 33px;
  }
  .title-header {
    font-family: 'misobold';
    font-size: 33px;
  }
  .plus {
    display: none;
  }
}

/*Tableta Mobile L Mobile M Mobile S Mobile 175+ 150+*/

@media screen and (max-width: 992px) {
  .cont-item {
    padding: 15px 95px 0;
  }
}

/*Mobile 200+*/

@media screen and (max-width: 768px) {
  .cont-item {
    padding: 15px 50px 0;
  }
  .plus {
    display: block;
  }
}

/*Mobile 250+*/

@media screen and (max-width: 560px) {
  .cont-item {
    padding: 15px 30px 0;
  }
}

/*Mobile 300+*/

@media screen and (max-width: 480px) {
  .cont-item {
    padding: 15px 20px 0;
  }
}

/*Mobile 500+*/

@media screen and (max-width:453px) {
  .cont-item {
    padding: 12px 35px 12px;
  }
  .header-card a {
    padding: 0 40px;
  }
}
